<?xml version="1.0" encoding="UTF-8"?>
<theme>
 	<formatVersion>7</formatVersion>

	<view name="menu">

		<menuText name="menutitle">
			<fontPath>./../fonts/SairaCondensed-Bold.ttf</fontPath>
			<fontSize>0.046</fontSize>
			<color>${systemColorGray}</color>
		</menuText>
		
		<menuText name="menufooter">
			<fontPath>./_inc/fonts/Saira_SemiCondensed-Bold.ttf</fontPath>
			<fontSize>0.022</fontSize>
			<color>${systemColorGray}</color>
		</menuText>
		
		<menuText name="menutext">
			<fontPath>./../fonts/SairaCondensed-Regular.ttf</fontPath>
			<fontSize>0.032</fontSize>
			<color>${systemColorGray}</color>
			<separatorColor>${systemColorWhite}</separatorColor>
			<selectorColor>${systemColorRed}</selectorColor>
			<selectorColorEnd>${systemColorRed}</selectorColorEnd>
			<selectedColor>${systemColorWhite}</selectedColor>
			<selectorOffsetY>0.01</selectorOffsetY>
			<selectorGradientType>vertical</selectorGradientType>
			<backgroundColor>${systemColorWhite}</backgroundColor>
		</menuText>
		
		<menuTextSmall name="menutextsmall">
			<fontPath>./../fonts/SairaCondensed-Bold.ttf</fontPath>
			<fontSize>0.026</fontSize>
			<color>767296</color>
		</menuTextSmall>
		
		<menuGroup name="menugroup">
			<fontPath>./../fonts/SairaCondensed-Medium.ttf</fontPath>
			<fontSize>0.036</fontSize>
			<color>${systemColorGray}</color>
			<separatorColor>${systemColorWhite}</separatorColor>    
			<backgroundColor>${systemColorWhite}</backgroundColor>
			<lineSpacing>2.5</lineSpacing>
		</menuGroup>
		
		<menuBackground name="menubg">
			<color>${systemColorWhite}</color>
			<cornerSize>32 32</cornerSize>
			<backgroundColor>${systemColorWhite}</backgroundColor>
			<path>./../menuicons/frame.png</path>
		</menuBackground>
		
		<menuIcons name="menuicons">
			<iconKodi>./../menuicons/Kodi.png</iconKodi>
			<iconSystem>./../menuicons/System.png</iconSystem>
			<iconUpdates>./../menuicons/Updates.png</iconUpdates>
			<iconGames>./../menuicons/Games.png</iconGames>
			<iconControllers>./../menuicons/Controllers.png</iconControllers>
			<iconUI>./../menuicons/UI.png</iconUI>
			<iconSound>./../menuicons/Sound.png</iconSound>
			<iconNetwork>./../menuicons/Network.png</iconNetwork>
			<iconScraper>./../menuicons/Scraper.png</iconScraper>
			<iconAdvanced>./../menuicons/Advanced.png</iconAdvanced>
			<iconQuit>./../menuicons/Quit.png</iconQuit>
			<iconRestart>./../menuicons/Restart.png</iconRestart>
			<iconShutdown>./../menuicons/Shutdown.png</iconShutdown>
			<iconFastShutdown>./../menuicons/Fastshutdown.png</iconFastShutdown>
			<iconRetroachievements>./../menuicons/Contest.png</iconRetroachievements>
		</menuIcons>
		
		<menuTextEdit name="menutextedit">
			<inactive>./../menuicons/textinput_ninepatch.png</inactive>
			<active>./../menuicons/textinput_ninepatch_active.png</active>
		</menuTextEdit>
		
		<menuButton name="menubutton">
			<path>./../menuicons/button.png</path>
			<filledPath>./../menuicons/button_filled.png</filledPath>
		</menuButton>


		<!-- Help buttons -->
		<helpsystem name="help">
			<pos>0.24 0.96</pos>
			<origin>0 0</origin>
			<fontPath>./../fonts/Saira_ExtraCondensed-Regular.ttf</fontPath>
			<fontSize>0.025</fontSize>
			<alignment>right</alignment>
			<textColor>${systemColorWhite}</textColor>
			<iconColor>${systemColorWhite}</iconColor>
		</helpsystem>
	</view>
</theme>