<?xml version="1.0" encoding="UTF-8"?>
<theme>
 	<formatVersion>7</formatVersion>

  	<view name="system">
		<sound name="bgsound">
			<path>./../music/ArcadePlanetBGMusic.mp3</path>
		</sound>

		<helpsystem name="help">
			<pos>0.567 0.96</pos>
		</helpsystem>

		<carousel name="systemcarousel">
			<color>00000000</color>
			<colorEnd>00000000</colorEnd>
			<systemInfoDelay>0</systemInfoDelay>
		</carousel>	
  	</view>
</theme>